/*.navbar-brand img:hover{
  animation:moveInRight 1s ease-out;
}*/
body{overflow-x: hidden !important;}
.navbar{
  opacity:0.9;
  background:#000;
}
.nav-item{
  font-size: 1rem;
  padding-right: 1rem;
}
/**/
#home{
  position:relative;
  background:-webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(17, 14, 17, 0.8)),url('../img/heavyLifting.jpg');
  min-height:940px;
  background-repeat:no-repeat;
  background-size:cover;
  /*animation*/
  backface-visibility:hidden;
}
#home > div{margin-top:300px;}
.head-text{
  letter-spacing:15px;
  font-family: 'Permanent Marker', cursive;
  /*connect animation*/
  animation-name:moveInLeft;
  animation-duration:2s;
  animation-timing-function: ease-out;
  /*
  animation-delay:3s;
  animation-iteration-count:3; repeat 3 times
  animation-timing-function
  animation-timing-function: ease;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  animation-timing-function: step-start;
  animation-timing-function: step-end;
  */
}
.sub-text{
  font-size: 2rem;
  font-family: 'Poiret One', cursive;
  margin-top:30px;
  /*connect animation*/
  animation: moveInRight 1s ease-out;
}
/*-------------buttons---------------*/
.btn-red{margin-top:50px; border:none !important; background:#8E1B1B;color:#E0E0E0 !important;}
/*--btn animation--*/
.btn-red:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 20px rgba(0,0,.2);
}
.btn-red:active{
  transform:translateY(-1px);
  box-shadow:0 5px 10px rgba(0,0,.2);
}
.btn-red:visited{
  transition:all .2s;
}
/*position btn behind btn*/
.btn-red::after{
  content:"";
  height:100%;
  width:100%;
}
.btn-animated{
  animation: moveInBottom .5s ease-out;
  animation-delay:.75s;
  /*apply styles before animaton*/
  animation-fill-mode:backwards;
}
.btn{
  position:relative;
  overflow: hidden;
  transition:1s all ease;

}
.btn-Size{
  background-color:#33d6ff;
  border:none;
}


/*.arrow{margin-top:200px; font-weight: 500;}*/
/*--------animation----------*/
/**.arrow{
  position:relative;
  font-size:48px;
  text-align:center;
  transform:rotate(90deg);
  animation:bouncearrow 1s infinite;
}
@keyframes bouncearrow{
  0%{top:0px;}
  50%{top: 20px;}
  100%{top:0px;}
}**/

/*head-text*/
@keyframes moveInLeft{
0%{
  opacity:0;
  transform:translateX(-100px);
}
80%{
  transform: translateX(20px);
}
100%{
  opacity:1;
  transform:translate(0);
}
}
/*sub-text*/
@keyframes moveInRight{
  0%{
    opacity:0;
    transform:translateX(100px);
  }
  80%{
    transform: translateX(-20px);
  }
  100%{
    opacity:1;
    transform:translate(0);
  }
  }
  /*button*/
@keyframes moveInBottom{
  0%{
    opacity:0;
    transform:translateY(30px);
  }
  100%{
    opacity:1;
    transform:translate(0);
  }
  }
/*------end animation--------*/
/*about section*/
#about{
  background:-webkit-linear-gradient(rgba(2, 2, 2, 0.87), rgba(34, 33, 34, 0.856));
}
.about-image{
  width:100%;
  margin: 0 auto;
  border-radius:15px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, .1);  
  transform: skewX(-12deg);
  animation: moveInRight 1s ease-out;
}
/*classes*/
.class-text{
  
}
#classes{
  background:-webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(44, 43, 44, 0)), url('../img/brick-wall.jpeg');
  background-repeat: no-repeat;
  background-size:cover;


  position:relative;
  background-size: cover;
  text-align: center;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
}
.border-Classes{
  border-radius:50%;
  width:320px;
  height:320px; 
}

.white-box p{
  color:#fff;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 30px 60px rgba(0, 0, 0, 1);
  -ms-box-shadow: 0 30px 60px rgba(0, 0, 0, 1);
  -o-box-shadow: 0 30px 60px rgba(0, 0, 0, 1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 1);
  /*background-color: rgba(255, 153, 153, .6);C*/
  -webkit-background-color: rgb(29, 29, 29, 0.9);
  -moz-background-color: rgb(29, 29, 29, 0.9);
  -ms-background-color: rgb(29, 29, 29, 0.9);
  -o-background-color: rgb(29, 29, 29, 0.9);
  background-color: rgb(29, 29, 29, 0.9);
  border-radius:3px;
  padding:30px;
  letter-spacing:3px;
}
.custom-box-slant{
  width:350px;
  color:#fff;
  margin: 0 auto;
  box-shadow: 0 30px 60px rgba(0, 0, 0, .1);
  background-color: rgba(248, 7, 7, 0.9);
  border-radius:13px;
  padding:10px;
  padding:25px;
  padding-bottom:3px;
  /*font-size:1.6rem;*/
  transform: skewX(-12deg);
}
.custom-box-slant h5{
  font-weight: 500;
  transform: skewX(-12deg);
  color:#fff;
}
.custom-box-slant p{
  font-weight: 500;
  transform: skewX(12deg);
  color:#B2B1B1;
  letter-spacing:5px;
}


/*trainers*/
.info-header{
  margin-top:15px;
  text-align: center;
  margin-bottom:0 !important;
  padding-bottom:0;
  color:#fff !important;
  display:inline-block;
}
.info-header{
  box-shadow: 0 30px 60px rgba(0, 0, 0, .1);
  background-color: rgba(248, 7, 7, 0.9);
  border-radius:3px;
  padding:10px;
  padding-left:50px;
  padding-bottom:3px;
  /*font-size:1.6rem;*/
  transform: skewX(-12deg);
}
#trainers{

}
.card{
  border:none;
}
/*contact*/
#contact{}
.mb-resp{
  margin-bottom:1rem;
  padding:1px !important;
}
.btn-Size{
  padding:3px !important;
}
 
/*contact*/
/*contact*/
.info-header-contact{
  box-shadow: 0 30px 60px rgba(0, 0, 0, .1);
  background-color: rgba(248, 7, 7, 0.9);
  border-radius:3px;
  padding:5px;
  padding-left:5px;
  padding-bottom:3px;
  color:#fff !important;
  /*font-size:1.6rem;*/
  transform: skewX(-12deg);
}
/*footer*/
#main-footer{
  background:#000;
  color:#fff;
}
.footer_navigation{
  padding:6px;
  border-radius:8px;
  display:inline-block;
}
.footer_navigation ul{
  list-style:none;
 
}
.footer_navigation a{
  color:#fff;
}
/*media*/
@media screen and (max-width:768px){
  #home{min-height:500px;}
  #home > div{margin-top:100px;}
  #home h1{font-size:4rem;}
  .mb-resp{
    margin-bottom:1rem;
    padding:1px !important;
  }
  .border-Classes{
    border-radius:50%;
    width:275px;
    height:275px;
}
#classes{
  

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.custom-box-slant{
  padding-bottom:50px;
}
.textSize{
  width:100%;
}


}
